:root {
    --clr-primary-400: hsl(0, 0%, 100%);
    --clr-primary-500: hsl(0, 0%, 0%);
    --clr-primary-600: hsl(0, 0%, 55%);
    --clr-primary-700: hsl(0, 0%, 41%);
    --ff-primary: "Alata", sans-serif;
    --ff-secondary: "Josefin Sans", sans-serif;

    --fw-400: 400;
    --fw-300: 300;

    --fs-400: 0.9375rem;

}

/* css reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol,
a {

    text-decoration: none;
    padding: 0;
    all: unset;
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    color: var(--clr-primary-400);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* class style */
.underline {
    position: relative;
    display: inline-block;
}

.underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: var(--clr-primary-400);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.underline:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* style */
header {
    background-image: url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 6.5rem;
    line-height: normal;
}

nav {
    display: flex;
    gap: 10rem;
}

nav>ul {
    display: flex;
    flex: end;
    gap: 2rem;
    align-items: center;
}

nav>.logo {
    margin-right: auto;
}

.mobile-navbar {
    display: none;
}

.hero-text {
    border: 2px solid var(--clr-primary-400);
    font-family: var(--ff-secondary);
    font-size: clamp(2rem, 4vw, 4rem);
    letter-spacing: 6px;
    text-transform: uppercase;
    width: clamp(20rem, 50vw, 35rem);
    padding: 2rem;
    margin-block: 8rem;
    line-height: 1;
}

main {
    padding-inline: 8rem;
    padding-block: 10rem;
}

section.hero {
    color: var(--clr-primary-500);
}

section>.presentation {
    position: relative;
    top: -20rem;
    left: 35rem;
    background-color: var(--clr-primary-400);
    padding: 4rem;
    max-width: 58ch;
}

section>div>h2 {
    font-size: clamp(1rem, 2rem, 2.5rem);
    font-family: var(--ff-secondary);
    line-height: normal;
    text-transform: uppercase;
    font-weight: var(--fw-300);
    margin-block: 1rem;
}

section>div>p {
    color: var(--clr-primary-600);
}

.our_creation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -10rem;
}

.creation-cards {
    grid-area: 2/1/3/3;
}

.our_creation__top-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    text-align: start;
}

.our_creation__top-bar>h2 {
    font-size: 2rem;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    margin-block: 1rem;
    color: var(--clr-primary-500);
    font-weight: 400;
    font-size: 3rem;
}

.our_creation__top-bar>button {
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-500);
    padding: .75rem 3rem;
    border: none;
    margin-left: auto;
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: var(--clr-primary-500) 1px solid;
}

.our_creation__top-bar>button:hover {
    background-color: var(--clr-primary-500);
    color: var(--clr-primary-400);
}

.creation-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    font-family: var(--ff-secondary);
}

.creation-card {
    background-image: url("./images/desktop/image-deep-earth.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    line-height: normal;
    position: relative;
    transition: all 0.1s ease-in-out 0s;
}

.creation-card:hover {
    color: var(--clr-primary-500);
}

.creation-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--clr-primary-400);
    color: var(--clr-primary-500);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.creation-card:hover::after {
    opacity: 0.5;
}

.creation-card>h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2.5rem;
    text-transform: uppercase;
    max-width: 13ch;
    font-size: 2rem;
    font-weight: var(--fw-300);
    z-index: 1;
}

.creation-cards:nth-child(1) {
    background-image: url("./images/desktop/image-deep-earth.jpg");
}

.creation-card:nth-child(2) {
    background-image: url("./images/desktop/image-night-arcade.jpg");
}

.creation-card:nth-child(3) {
    background-image: url("./images/desktop/image-soccer-team.jpg");
}

.creation-card:nth-child(4) {
    background-image: url("./images/desktop/image-grid.jpg");
}

.creation-card:nth-child(5) {
    background-image: url("./images/desktop/image-from-above.jpg");
}

.creation-card:nth-child(6) {
    background-image: url("./images/desktop/image-pocket-borealis.jpg");
}

.creation-card:nth-child(7) {
    background-image: url("./images/desktop/image-curiosity.jpg");
}

.creation-card:nth-child(8) {
    background-image: url("./images/desktop/image-fisheye.jpg");
}

footer {
    background-color: var(--clr-primary-500);
    padding: 3em 6rem;
    color: var(--clr-primary-400);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    height: 12rem;
}

.footer-nav {
    display: flex;
    gap: 2rem;
    align-items: center;    margin-top: auto;
}

.socials {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
}

.rights-reserved {
    color: var(--clr-primary-600);
    align-items: center;
    margin-left: auto;
    margin-top: auto;
}

.mobile-sidebar {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clr-primary-500);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 3rem;
    font-weight: 100;
    z-index: 100;
    font-size: 2rem;
    font-family: var(--ff-secondary);
}

.mobile-sidebar>ol {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
}

.mobile-sidebar>li{
    padding-left: 2rem;
}

.mobile-sidebar>li:nth-child(2) {
    margin-top: 50%;
}


.close-icon {
    margin-left: auto;
}

@media(max-width: 840px) {
    header {
        padding: 4rem 2rem;
    }

    nav>ul {
        gap: 1rem;
    }

    .creation-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        padding-block: 3rem;
        padding-inline: 0.5rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
        gap: 2.5rem;

    }

    footer>.footer-nav {
        flex-direction: column;
        gap: 1rem;
    }

    footer>.socials {
        margin-left: 0;
    }

    footer>.rights-reserved {
        margin-left: 0;
        margin-top: -1;
    }
}

@media(max-width: 650px) {
    header {
        padding-inline: 1.5rem;
        padding-block: 2.5rem;
    }

    .hero-text {
        padding: 1rem;
    }

    .desktop-navbar {
        display: none;

    }

    header {
        background-image: url("./images/mobile/image-hero.jpg");
    }

    .hero-text {
        margin-inline: auto;
        width: 100%;
        overflow: hidden;
    }

    .mobile-navbar {
        display: block;
    }

    main {
        padding-inline: 1.5rem;
        padding-block: 5rem;
        text-align: center;
    }

    section>.presentation {
        padding: 0;
        margin-top: 4rem;
    }

    section>.presentation {
        position: static;
    }

    .our_creation {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 4rem;
    }

    .our_creation__top-bar {
        margin-bottom: 0;
    }

    .our_creation__top-bar>button {
        margin: auto;
    }

    .our_creation__top-bar>h2 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

    .creation-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-area: 2/1;
    }

    .creation-card {
        height: 10rem;
        padding: 0;
    }

    .creation-card>h3 {
        padding: 1rem;
        text-align: start;
        max-width: 10ch;
    }

    .creation-card:nth-child(1) {
        background-image: url("./images/mobile/image-deep-earth.jpg");
    }

    .creation-card:nth-child(2) {
        background-image: url("./images/mobile/image-night-arcade.jpg");
    }

    .creation-card:nth-child(3) {
        background-image: url("./images/mobile/image-soccer-team.jpg");
    }

    .creation-card:nth-child(4) {
        background-image: url("./images/mobile/image-grid.jpg");
    }

    .creation-card:nth-child(5) {
        background-image: url("./images/mobile/image-from-above.jpg");
    }

    .creation-card:nth-child(6) {
        background-image: url("./images/mobile/image-pocket-borealis.jpg");
    }

    .creation-card:nth-child(7) {
        background-image: url("./images/mobile/image-curiosity.jpg");
    }

    .creation-card:nth-child(8) {
        background-image: url("./images/mobile/image-fisheye.jpg");
    }
}